<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <script>

    document.addEventListener("DOMContentLoaded", () => {
    const dialog = document.getElementById("confirmDialog");
    const deleteBtn = document.getElementById("newImageDltBtn");
    const cancelBtn = document.getElementById("cancelBtn");
    const confirmBtn = document.getElementById("confirmBtn");
    const itemImage = document.getElementById("newItemImage");
    const fileInput = document.getElementById("newItemImageInput");

    // Open dialog when delete icon clicked
    deleteBtn.addEventListener("click", () => {
      dialog.showModal();
    });

    // Close dialog
    cancelBtn.addEventListener("click", () => {
      dialog.close();
    });

    // Confirm delete
    confirmBtn.addEventListener("click", () => {
      dialog.close();
      itemImage.style.display = "none";

      if (deleteBtn) deleteBtn.style.display = "none";
      fileInput.style.display = "block"; // show file input
      fileInput.value = null; // Delete chosen file
    });

    fileInput.onchange = (e)=>{
      const [file] = fileInput.files;
      if (file){
        console.log({file});
        itemImage.src = URL.createObjectURL(file);
        itemImage.style.display = "block";
        deleteBtn.style.display = "flex"; // Show the delete icon
        fileInput.style.display = "none" // Hide the file input

      }
    }
  });

    
      function validateForm(event) {
        event.preventDefault();

        const item_name = document.getElementById('item_name').value.trim();

        if (!item_name) {
          alert('Item name cannot be empty!');
          return;
        }

        // If validation passes, submit the form
        document.getElementById('newItemForm').submit();
      }
    </script>
  </head>
  <body>
    <dialog id="confirmDialog">
      <h4>Are you sure you want to delete this image?</h4>
      <div class="dialogBtnWrapper">
        <button id="cancelBtn">Cancel</button>
        <button id="confirmBtn">Confirm</button>
      </div>
    </dialog>
    <%- include('header') %>
    <form
      id="newItemForm"
      method="post"
      action="/item/new"
      enctype="multipart/form-data"
      onsubmit="validateForm(event)"
    >
    <div class="inputContainer">
      <div class="labelInputWrapper">
        <label for="item_name">Item Name</label>
        <input
          class="nameInput"
          type="text"
          id="item_name"
          name="item_name"
          placeholder="Enter Item's name"
        />
      </div>

      <div class="labelInputWrapper">
        <label for="item_description">Item Description</label>
        <input
          class="nameInput"
          type="text"
          id="item_description"
          name="item_description"
          placeholder="Enter item description"
        />
      </div>

      <div class="labelInputWrapper">
        <label for="item_image">Item Image</label>

        <div class="newItemImageWrapper">
          <img id="newItemImage" class="newitemImage" src="" alt="Item Image" />
         
          <div id="newImageDltBtn" class="newImageDltBtn">
            <img class="deleteBtn" src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" alt="Image Delete Button" /> 
          </div>
        </div>

        <input
          class="newItemImageInput"
          type="file"
          id="newItemImageInput"
          name="item_image"
        />
      </div>

      <div class="labelInputWrapper">
        <label for="item_price">Item Price</label>

        <input
          class="nameInput"
          type="number"
          id="item_price"
          name="item_price"
          placeholder="Enter item price"
        />
      </div>

      <div class="labelInputWrapper">
        <label for="item_quantity">Item Quantity</label>

        <input
          class="nameInput"
          type="number"
          id="item_quantity"
          name="item_quantity"
          placeholder="Enter item quantity"
        />
      </div>

      <div class="labelInputWrapper">

      <label for="category_id">Select item's category</label>
      <select name="category_id" id="category_id" >
        <option value="" disabled selected hidden>Please select</option>
        <% categories.forEach((category, index)=> { %>
            <% const {category_id, category_name} = category %>
            <option value="<%= category_id %>" ><%= category_name %></option>
                
       <% }) %>
      </select>
    </div>
    <div class="labelInputWrapper">

    <button class="submitBtn" type="submit">Submit</button>
    </div>

    </div>
    </form>
  </body>
</html>
